  <!-------Carousel-Banners------->
<div class="container bg-primary p-1 w-75">
    <div class="row">
        <div id="carouselExampleDark" class="carousel carousel-light slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img src="~/img/banners/bikeban-1.jpg" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/banners/bikeban-2.jpg" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/banners/carban-1.jpg" class="d-block w-100" alt="..."/>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="~/img/banners/carban-2.jpg" class="d-block w-100" alt="..."/>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!-------StartRide-Btn------->
<div class="container-fluid text-center z-1 mt-5" style="position:absolute;">
    <div class="row">
        <div class="START_RIDE w-100">
            <a class="btn btn-outline-primary btn-light" style="text-decoration: none;" href="#LOG"><B>START RIDE</B></a>
        </div>
    </div>
</div>

<!-------Car-Bike-BG------->
<div class="row mt-5">
    <div class="bg-wallpaper">
        <img src="~/img/wallpaper-croped2.jpg" class="opacity-100 img-fluid z-1 w-100" alt="Wallpaper-Bg"
             >
    </div>
</div>

<!-- Grid container Text Banner-->
<div class="containe text-center text-white mt-5" style="background-color: rgb(214, 214, 212);">
    <div class="container p-4">
        <p class="d-flex justify-content-center align-items-center">
            <span style="word-spacing: 15px; letter-spacing: 5px;" class="me-3 text-dark text-uppercase fs-5">Take A Look & Shopi<span class="text-danger">FY.!</span></span>
        </p>
    </div>
</div>

<!-------Cards-Bike------>

<div class="container" id="Bike">
    <div class="row">
        <div class="row row-cols-2 row-cols-md-4 g-4">

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Bike/TVS Rider.png" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">TVS Rider</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(123)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.80000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Bike/2018-Honda-CB-125-Shine-SP-Yellow-press-right-side.jpg" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Honda-CB-125</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(123)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.80000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Bike/Honda XR 150L-1588411008-92.jpg" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Honda XR 150L</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(123)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.80000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Bike/KTM-Duke-390-E20-BS6-Liquid-Metal.jpg" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">KTM-Duke-390</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(123)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.80000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-------Cards-Car------>

<div class="container" id="Car">
    <div class="row">
        <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Car/AR-AM-Ignis-Exterior-360-Web-Front-3-4-870-x-448.jpg" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Car Exterior-360</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(1004)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.12L</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/car/suzuki-ignis-900x595-1.jpg"  class="card-img-top" alt="..."/>

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Suzuki-Ignis</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(2165)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.8L</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Car/si7jlh2a.png" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Car 123 CB</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(458)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.10L</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Car/CRETA_Polar_White.jpg" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">CRETA_Polar</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(665)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.7L</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-------Cards-Scooter------>
<div class="container" id="Scooter">
    <div class="row">
        <div class="row row-cols-2 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Scooter/go9ebcsc.png" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Suzuki T5</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(524)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.85000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Scooter/new-honda-activa-6g-in-pearl-spartan-red-color.jpg" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Honda-activa-6g</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(324)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹75000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Scooter/1506713191086-092917-honda-riding-assist-e-014hOr.jpg" class="card-img-top"
                         alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">Honda</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(159)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.70000</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="~/img/Scooter/tqb8tlrq.png" class="card-img-top" alt="...">

                    <!-------Card-Body------>

                    <div class="card-body">
                        <h5 class="card-title">TQ B8tlrq</h5>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>
                        <i class="fa-solid fa-star text-warning"></i>(665)
                        <i class="fa-solid fa-bookmark float-end text-secondary"></i>
                    </div>

                    <!-------Card-Footer------>

                    <div class="row text-center align-items-center g-0 border">
                        <div class="col-5 text-success">
                            <h6 style="font-weight: 400; font-size: clamp(15px,2vw,30px);">₹.1L</h6>
                        </div>
                        <div class="col-7">
                            <a href="#" class="btn btn-primary w-100 p-2 rounded-0"
                               style="font-weight: 500; font-size: clamp(10px,1vw,50px);">ADD TO CART</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- SignUp Button..! -->
<div class="containe text-center text-white mt-5" style="background-color: rgb(214, 214, 212);">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: CTA -->
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span id="LOG" class="me-3 text-dark">Register for free</span>
                <a class="btn btn-outline-primary btn-light" style="text-decoration: none;" asp-controller="CRUD" asp-action="SignUp">Sign up!</a>
            </p>
        </section>
        <!-- Section: CTA -->
    </div>
</div>
